.root {
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
    font-size: 14px;


    --topbar-color: #001529;
    --topbar-hover-color: #1890ff;

    --bottombar-color: #3a3f44;
    --bottombar-hover-color: #1890ff;
    ;

    --lbar-color: rgb(78, 78, 92);
    --cbody-color: #f0f2f5;
    ;
    --cmain-color: #f0f2f5;
    ;

    display: flex;
    height: 100%;
    flex-direction: column;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >.left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    >.right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    background-color: var(--topbar-color);

    min-height: fit-content;
    padding: 0 70px;
    //line-height: 64px;
}

.bottombar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >.left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    >.right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    background-color: var(--bottombar-color);

    height: fit-content;
    padding: 10px 50px;
}

.svc_header {
    padding: 16px 24px;
}

.svc_name {
    margin: 0;
    color: #000000d9;
    font-weight: 600;
    font-size: 20px;
    //line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    //padding: 16px 24px;
}

.svc_navlink {
    color: white;
    padding: 10px 20px;
    transition: 0.2s;

    cursor: pointer;

    &:hover,
    &.active {
        background-color: var(--topbar-hover-color);
        transition: 0.2s;
    }
}

.lbar {
    width: 80px;
    background-color: var(--lbar-color);
}

.main {
    background-color: var(--cmain-color);
    flex-grow: 1;
}

.body {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: var(--cbody-color);
}


.table {
    --border: 1px solid rgb(211, 211, 211);
    --cell-padding: 5px 20px;
    --cell-hover-color: #f0f0f0d9;

    background-color: #fff;

    border-collapse: collapse;
    max-width: 100%;
    min-width: 100%;

    border-top: var(--border);
    border-left: var(--border);

    >thead {
        >tr {
            >th {
                padding: var(--cell-padding);
                border-bottom: var(--border);
                border-right: var(--border);

                &:hover {
                    background-color: var(--cell-hover-color);
                }
            }
        }
    }

    >tbody {
        >tr {
            >td {
                padding: var(--cell-padding);
                border-bottom: var(--border);
                border-right: var(--border);
            }

            &:hover {
                background-color: var(--cell-hover-color);
            }
        }
    }
}

.loading {
    display: inline;
    content: 'LOADING'
}

.svc_menu {
    padding: 30px;
}

.button_logout {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    height: fit-content;
    cursor: pointer;
}

.button_edit {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: fit-content;
    cursor: pointer;
}

.button_delete {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(82, 13, 13);
    color: rgb(82, 13, 13);
    height: fit-content;
    cursor: pointer;
}

.button_save {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 27, 87);
    color: rgb(0, 27, 87);
    height: fit-content;
    cursor: pointer;
}

.button_cancel {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: fit-content;
    cursor: pointer;
}

.yes_button {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: fit-content;
    cursor: pointer;
}

.no_button {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: fit-content;
    cursor: pointer;
}

.buttons {
    padding: 5px 0;
    width: fit-content;
}


.controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: fit-content;

    >* {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        >.title {
            display: inline-block;
        }

        >.input {
            display: inline-block;
        }
    }
}

.window{     
    border-radius: 5px;
}
