footer.global{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;

    
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
