header.global{    
    display: flex;
    flex-direction: column;
    
    height: 100px;
    width: auto;

    padding: var(--padding);;

    background-color: rgb(144, 223, 150);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

header.global > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-panel{
    min-height: 40px;
    min-width: 50px;
}

.profile-panel{

    height: 100%;
    min-height: 40px;
    min-width: 70px;

    padding: var(--padding);

    background-color: gray;
    border-radius: var(--border-radius);
}

.profile-panel > .avatare{
    height: 25px;
    width: 25px;

    border-radius: 50%;
    background-color: white;
}

nav.top{
    border-radius: var(--border-radius);
    background-color: rgb(153, 194, 194);

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 5px;

    padding: 5px;
}

nav.top a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: aquamarine;
    transition: 0.3s;
}

nav.top a:any-link{
    color: black;
}

nav.top a:hover{
    transition: 0.3s;
    background-color: rgb(120, 161, 148);
}