/* Обертка над манагером корневой div */

.wrapper{
    display: flex;
    flex-direction: column;

    width: 100%;

    --border-color: rgb(214, 214, 214);

    // border-radius: 5px;
    // border-radius: 20px;
    border: 1px solid var(--border-color);
    overflow: hidden;

    font-family: "Roboto","Helvetica","Arial",sans-serif;

}


/* конкретно верхушка и текст 'p' тэг */
.title{
    display: block;
    background-color: #3aa2f8;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 5px 0 ;
}


/* хэдер часть где путь и кнопки */
.header{
    display: flex;
    flex-direction: row;
    gap: 5px;

    background-color: beige;
    padding: 5px;

    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}


/* футер где загрузка и статус */
.footer{
    display: flex;
    flex-direction: row;
    background-color: beige;
    padding: 5px;
    gap: 10px;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.folderIcon {
    height: 140px;
    width: 140px;

    > path:first-of-type{
        fill: rgb(82, 82, 82)
    }
}

.fileIcon {
    height: 140px;
    width: 140px;

    &Wrapper{
        position: relative;

        > span{
            position: absolute;
            display: inline-block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 140px;
            word-break: break-all;
            font-weight: 800;
            font-size: calc(5.42px + 1.8vw);
        }
    }

}


/* центральная часть включает в себя контент и иерархию */
.main{
    display: flex;
    flex-direction: row;
    //flex: 1;
    width: 100%;
    height: 500px;

    > *{
        padding: 5px;
    }

    > .hierarchy{
        width: 15%;
        border-right: 1px solid var(--border-color);
        height: 500px;

        user-select: none;
        cursor: pointer;
    }

    > .content{
        width: 85%;
        height: 500px;
    }
}

/* запись в иерархии */
.hierarchyLI{
    margin-left: 10px;

    .folderIcon {
        height: 14px;
        width: 14px;
    
        > path:first-of-type{
            fill: rgb(82, 82, 82)
        }
    }

   .hierarchy-marker{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
    }

    &.open > .hierarchy-marker {
        transform: rotateZ(135deg);
        margin-right: 5px;
        margin-bottom: 2px;
    }


// &+&{padding-left: 20px;}

    &.close > .hierarchy-marker { 
        transform: rotateZ(45deg);
        margin-right: 5px;
        margin-bottom: 2px;
    }
}


/* обертка над кнопками */
.buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;

    > * {
        padding: 5px 10px;
        border-radius: 0;
        border: 1px solid var(--border-color);
        background-color: white;

        &:hover{
            background-color: gray;
        }
    }
}

.buttonup{

        opacity: .8;

}

/* путь */
.crumbs{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 100%;
    // border-radius: 5px;
    border: 1px solid var(--border-color);
}

/* частички пути */
.crumb{
    background-color: white;

    &:hover{
        background-color: rgb(176, 195, 255);
    }
}




    

/* контентная часть с папкми и пре*/
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;

    overflow-y: scroll;
    
    .record{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;

        height: fit-content;
        width: 150px;

        .base{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            flex: 0, 1;
        }

        .ext{
            flex: 1, 0;
        }

        .name{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
        }

        > .preview{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 140px;
            height: 140px;
            // border: 1px solid rgba(255, 0, 0, 0.212);
        }

        //justify-content: center;
        align-items: center;
        
        border: 1px solid rgba(0, 0, 0, 0.0);

        &:hover{
            background-color: rgba(107, 255, 255, 0.212);
            border: 1px solid rgba(128, 255, 255, 0.274)
        }
    }
}

/* файлы которые будут грузиться (редпоказ записей) */
.uploadRecords{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.uploadRecord{
    display: flex;
    flex-direction: row;
    gap: 5px;

    > span{
        display: inline-block;
    }
}

.modal{
    position: absolute;

    &Wrapper{
        position: relative;
    }

    min-width: fit-content;
}

.ctxmenu_ul{
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 5px;

    background-color: white;
    width: max-content;

    > li {
        padding: 5px;
        width: 100%;

        &:hover{
            background-color: gray;
        }

    }
}

// Переименование файлов
.inputRename{
    position: relative;
    max-width: 100%;
    z-index: 100;
}

// fake bg для закрытия инпута rename
.renameBg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}