.select{
    display: inline-block;
    --w: 60px;
}

.array, .object{
    display: inline-flex;
    flex-direction: column;
}

.editor{
    display: block;
}

.field.object, .field.array{
    display: inline-flex;
    flex-direction: column;
    padding-left: 20px;
}

.field{
    display: inline-flex;
    flex-direction: row;

    > div {
        display: inline-flex;
        flex-direction: row;
        gap: 20px;
    }
}

.types{
    display: inline-flex;
    gap: 10px;
}


.class{
    height: 30px;
    width: 50px;
}

.type{
    height: 30px;
    width: 50px;
}

.input{
    display: inline-block;
    width: 150px;
}

.pre{
    white-space: normal;
    overflow: scroll;
}