.button{
    background-color: transparent;
    border: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}
    
.lrbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > *{
        text-overflow: clip;
        overflow: hidden;
    }
    
    > .left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    > .right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.table{
    border-collapse: collapse;
}

.input{
    padding: 2px 5px;
    width: 250px;
    height: 25px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;

    &:active, &:hover, &:focus{
        outline: 1px solid blue;
    }
}

.selectwrapper{
    --w: 250px;
}

.selectwrapper, .optionwrapper{
    width: var(--w);
}

.option{
    padding: 2px 5px;
    width: var(--w);
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;

    // text-align: center;

    &:hover{
        outline: 1px solid blue;
    }
}

.select{
    width: var(--w);

    &wrapper.active > .select{
        outline: 1px solid blue;
    }

    &wrapper.active > .select .dropdown{
        outline: 1px solid rgb(0, 255, 191);
    }

    .option.active{
        outline: 1px solid red;
    }
}

.dropdown{
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--z-dropdown);
}

.dropdownwrapper{
    position: relative;
}

.confirm_dialog {
    background-color: white;
    border-radius: 20px;

    padding: 15px;
    display: flex;

    gap: 20px;

    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    font-size: 120%;

    .button{
        padding: 3px 15px;
        border-radius: 5px;
        border: 1px solid gray;
        cursor: pointer;
    }
}

.accept_button{
    color: green;
}

.reject_button{
    color: red;
}

.pagination{
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
}

.paginationelement{
    padding: 2px 5px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid gray;
}

.paginationelement:hover{
    outline: 1px solid blue;
}