.page {
    display: flex;
    flex-direction: row;

    padding: var(--padding);
    gap: var(--gap);
}

.content {
    flex: 1;
    background-color: white;
}

.aside {
    min-width: 10%;
    width: 15%;
    
    border-radius: var(--border-radius);
    background-color: beige;
}
