.footer{
  min-height: 120px;
  height: 120px;
  background-color: rgb(61, 61, 61);

  padding: var(--padding);
  border: var(--border);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}