
.aside{
    width: 10%;

    border-radius: var(--border-radius);
    border: var(--border);
    background-color: aquamarine;
}

.content{
    width: 100%;
    color: #000;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: aquamarine;
}