* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 10px;
    --padding: 10px;
    --gap: 15px;
    --border: none; /* 1px solid black; */
    --box-shadow: 0px 0px 5px black;

    --z-header: 2000;
    --z-bg: 3000;
    --z-dropdown: 4000;
    --z--windows: 5000;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: #f2f2f3;
}

#__next {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 100%;
}

/* main {
    flex: 1;
    background-color: rgb(61, 61, 61);

    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
} */

