.bg{
    position: fixed;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.322);

    height: 100%;
    width: 100%;

    &wrapper{ 
        position: absolute;
        left: 0;
        right: 0;

        width: 100vw;
        height: 100vh;
    }


    &content{
        height: fit-content;
        width: fit-content;
    }

    z-index: var(--z-bg);

}